@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-weight: 600;
  font-size: 2.8rem;

  @media (max-width: 700px) {
    font-size: 2.5rem;
  }

  @media (max-width: 450px) {
    font-size: 2.3rem;
  }
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

input,
select,
textarea {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.text-center {
  text-align: center;
}
